/* General */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-awhite: rgb(250,250,250);
    --color-graywhite: rgb(245,245,245);
    --color-ablack: rgb(5,5,5);
    --color-maingray: rgb(90,90,90);
    --color-lightgray: rgb(163,163,163);
    --border-container: rgb(163,163,163) 0.1rem solid;
    --border-img: rgb(90,90,90) 0.15rem solid;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-awhite);
}

html {
    scroll-behavior: smooth;
}

 /* Text and containers */

h1 {
    font-weight: normal;
}

p {
    color: var(--color-maingray);
}

article {
    display: flex;
    width: 10rem;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

embed {
    width: 80vw;
    height: 80vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

a {
    color: var(--color-ablack);
    text-decoration: none;
    text-decoration-color: var(--color-graywhite);
    transition: all 0.5s ease;
}

a:hover {
    color: var(--color-maingray);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--color-lightgray);
}

strong {
    color: var(--color-ablack);
}

.title {
    font-size: 3rem;
    text-align: center;
    color: var(--color-ablack);
}

.sub-title {
    text-align: center; 
}

section {
    padding-top: 4vh;
    height: fit-content;
    margin: 5% 10%;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
}

.section-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text-container {
    border: var(--border-container);
    background: var(--color-graywhite);
    border-radius: 2rem;
    padding: 1.5rem;
    height: min-content;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: var(--color-graywhite);
    border-radius: 2rem;
    border: var(--border-container);
    text-align: center;
} 

/* Images */

.img-container {
    display:flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    justify-content: center;
}
.img-container img {
    filter: grayscale();
    transition: all 0.8s ease-in-out;
    border-radius: 50%;
    border: var(--border-img);
    user-select: none;
}
.img-container img:hover {
    filter: none;
    transform:scale(1.1);
}

/* Icons */

.arrow {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

/* buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    user-select: none;
}

.btn-color-1 {
    border: var(--color-maingray) 0.1rem solid;
    background: var(--color-maingray);
    color: var(--color-graywhite);
}

.btn-color-2 {
    border: var(--color-lightgray) 0.1rem solid;
    background: var(--color-awhite);
    color: var(--color-ablack);
}

.btn-color-1:hover {
    cursor: pointer;
    background: var(--color-ablack);
    border-color: var(--color-ablack);
}

.btn-color-2:hover {
    cursor: pointer;
    background: var(--color-maingray);
    border-color: var(--color-maingray);
    color: var(--color-graywhite);
}

/* popups */

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-awhite);
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

.result-img {
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 80vh;
}

.popup-content:has(embed) {
    width: 80vw;
    height: 80vh;
}

#result-content {
    width: fit-content;
    height: fit-content;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

/* desktop-nav */

#desktop-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    font-size: 2rem;
    user-select: none;
}

.logo:hover {
    cursor: default;
}

/* hamburger menu */

#hamburger-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    user-select: none;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--color-ablack);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: var(--color-awhite);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-ablack);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color: var(--color-maingray);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--color-lightgray);
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: fit-content;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}



/* profile section */

#profile {
    display: flex; 
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-top: 0;
}

.profile-text {
    align-self: center;
    text-align: center;
}

.profile-text p {
    font-weight: 600;
}

.profile-text i {
    cursor: pointer;
}

.profile-title {
    font-size: 1.75rem;
    color: var(--color-maingray);
}

/* about section */

#about {
    position: relative;
}

.about-section {
    display: flex;
    gap: 4rem;
    height: 80%;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* experience section */

#experience {
    position: relative;
}

.experience-sub-title {
    color: var(--color-maingray);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}

.experience-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

/* projects section */

#projects {
    position: relative;
}

.project-container {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    background: var(--color-graywhite);
    border-radius: 2rem;
    border: var(--border-container);
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
}

.project-visible {
    background: var(--color-graywhite);
    padding-bottom: 5px;
    z-index: 50;
}

.img-project-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2rem;
    border: var(--border-img);
    max-width: 40vh;
    min-width: 40vh;
}

.project-img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    transition: all 0.8s ease-in-out;
    z-index: 100;
    user-select: none;
}

.project-img:hover {
    filter: none;
    transform:scale(1.1);
}

.project-title {
    margin: 1rem;
    color: var(--color-ablack);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.project-more {
    position: absolute;
    width: 0;
    height: 0;
    transition: transform .8s ease-in-out, opacity .5s ease-in-out;
    transform: scale(0%);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    border: var(--border-container);
    background: rgb(245,245,245, 90%);
    border-radius: 2rem;
    padding: 1.5rem;
}

.trans {
    width: 35vh;
    height: 35vh;
    opacity: 1;
    visibility: visible;
    transform: scale(100%);
}

/* contact */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh; 
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: var(--border-container);
    background: var(--color-graywhite);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

/* footer section*/

footer {
    height: 26vh;
    margin: 0 1rem;
    user-select: none;
}

footer p {
    text-align: center;
}
